# Versions et environnements
/v2/
/v3/
!v1/** # inclure v1
!data/**
/venv/
.vscode/
vscode/
archives/
.env

# Caches et compilations
.pytest_cache/
v1/src/__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/

# Fichiers temporaires et logs
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.~*
*.coverage
.coverage
htmlcov/

# Build et distribution
docs/_build/v2/
docs/_build/v3/
!docs/_build/v1/**
build/
dist/
*.egg-info/

# IDE et éditeurs
.idea/
.project
.classpath
.settings/


.Identifier

