/* Cache la barre supérieure de Streamlit */
header {visibility: hidden;}
footer {visibility: hidden;}
#MainMenu {visibility: hidden;}

/* Styliser le titre */
.title h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -20px;  /* Réduire l'espace en haut */
}

/* Conteneur des résultats */
.result {
    margin-bottom: 25px;
    margin-left: 50px;
}
.result p {
    margin: 5px 0;
    line-height: 1.5;
}
.result a {
    text-decoration: none;
    color: #b2a5c3;
    font-size: 18px;
}

/* Word Cloud Container */
.wordcloud-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    margin: auto;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.wordcloud-container img {
    max-width: 100%;
    height: auto;
}
