name: Generate Documentation for v1 and v2

on:
  push:
    branches:
      - v1
      - v2

jobs:
  generate-docs:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install Doxygen
      run: sudo apt-get install doxygen -y

    - name: Install Graphviz
      run: sudo apt-get install graphviz -y

    # Génération de la documentation pour la version 1
    - name: Generate Documentation for v1
      run: |
        mkdir -p docs/_build/v1
        doxygen Doxyfile.conf

    # Génération de la documentation pour la version 2
    - name: Generate Documentation for v2
      run: |
        mkdir -p docs/_build/v2
        doxygen Doxyfile_v2.conf
